<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<body class="home-page">

    <!-- Header -->
    {% include 'header.html' %}
<div class="home-page">
    <h1>Bienvenue chez <span style="color: cyan;">TOUJACKNI STORE</span></h1>
    <p>Magasinez en toute confiance – Votre satisfaction est notre priorité !</p>
    <li>Découvrez nos catégories et produits de qualité.</p>
    <li><a href="{{ url_for('products') }}" class="cta-button">Voir les Produits</a>
</div>

    <!-- Footer fixe -->
    <footer>
        <div class="contact-icons">
            <a href="https://wa.me/212771078329?text=Salut%20je%20veux%20discuter%20avec%20vous" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="tel:+212771078329">
                <i class="fas fa-phone"></i>
            </a>
            <a href="mailto:toujacknistore@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
            <p>&copy; 2025 TOUJACKNI STORE</p>
        </div>
    </footer>

</body>
</html>
